<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

<footer id="footer">
    Powered by Lee Ho Jun
    <a href="https://github.com/hojunnnnn/board" target="_blank" class="bi bi-github"></a>
    <i class="bi bi-reception-4"></i>
    <i class="bi bi-phone"> 010-8515-3275</i>
</footer>
</body>
</html>