<!DOCTYPE HTML>
<html>
<head>
    <title>Board Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header id="header">
    <h1>Basic Board Service</h1>
</header>

<nav id ="nav">
    <span><a href="/" role="button" class="btn btn-secondary">로그인</a></span>
</nav>

