{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-8">
            <form>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                </div>
                <input type="hidden" class="form-control" id="writer" value="{{user.nickname}}">
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea rows="10" class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                </div>
            </form>
            <button type="button" id="btn-save" class="btn btn-primary bi bi-pencil-fill"> 작성</button>
            <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
    </div>
</div>
{{>layout/footer}}