<div class="pagination justify-content-center">
    {{#preCheck}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
    {{/preCheck}}
    {{^preCheck}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
    {{/preCheck}}

    {{#nextCheck}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
    {{/nextCheck}}
    {{^nextCheck}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
    {{/nextCheck}}
</div>