{{>layout/header}}


<table id="table" class="table table-horizontal">
    <thead class="thead-strong">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr>
        <td>1</td>
        <td>제목 입니다.</td>
        <td>이호준</td>
        <td>2021-11-13</td>
        <td>0</td>
    </tr>

    <tr>
        <td>2</td>
        <td>2제목 입니다.</td>
        <td>이호준</td>
        <td>2021-11-13</td>
        <td>0</td>
    </tr>

    <tr>
        <td>3</td>
        <td>3제목 입니다.</td>
        <td>이호준</td>
        <td>2021-11-13</td>
        <td>0</td>
    </tr>
    </tbody>
</table>
<div class="col-md-12">
    <a href="/posts/register" id ="btn" role="button" class="btn btn-primary bi bi-pencil-fill float-right"> 글쓰기</a>
</div>
{{>layout/footer}}
